<section class="content-header">
    <h1>
        {{ 'panel.404.not_found' | translate }}
    </h1>
</section>

<!-- Main content -->
<section class="content">

    <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>

        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> {{ 'panel.404.title' | translate }}</h3>

            <p>
                {{ 'panel.404.title_msg' | translate }}
            </p>
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->


</section>
